* {
  font-family: 'Roboto', 'Afacad', sans-serif;
}

body {
  height: 100vh;
  margin: 0;
}

.header {
  background-color: #1f2937;
}

.header-top {
  display: flex;
  justify-content: space-around;
  gap: 50em;
  margin-bottom: 40px;
}

.header-left {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-left: 6em;
}

.header-left p {
  font-size: 18px;
  color: #e5e7eb;
}

.header-right {
  display: flex;
  justify-content: flex-end;
}

.logo {
  display: flex;
  color: #f9faf8;
  font-size: 24px;
}

.links {
  display: flex;
  gap: 40px;
  color: #e5e7eb;
  font-size: 18px;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin-bottom: 0;
}

button {
  padding: 10px;
  max-width: 100px;
  border-radius: 5px;
  color:#e5e7eb;
  background-color: #3882f6;
  border: none;
}