* {
  font-family: 'Roboto', 'Afacad', sans-serif;
}

body {
  height: 100vh;
  margin: 0;
}

.header {
  background-color: #1f2937;
  padding-bottom: 100px;
}

.header-top {
  display: flex;
  justify-content: space-around;
  gap: 50em;
  margin-bottom: 40px;
}

.header-left {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-left: 6em;
}

.header-bottom {
  display: flex;
  gap: 170px;
}

.header-left p {
  font-size: 18px;
  color: #e5e7eb;
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-right img {
  height: 280px;
  width: 500px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgb(179, 174, 174);
}

.logo {
  display: flex;
  color: #f9faf8;
  font-size: 24px;
  margin-left: 20px;
  font-weight: 550;
}

.links {
  display: flex;
  gap: 45px;
  color: #e5e7eb;
  font-size: 18px;
  margin-right: 5em;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin: 0;
}

button {
  padding: 10px;
  max-width: 100px;
  border-radius: 5px;
  color:#e5e7eb;
  background-color: #00bac4;
  border: none;
}

.content {}

.information-text {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.cards {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 80px;
}

.cards img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgb(0, 0, 0);
}

.cards p {
  max-width: 250px;
  color: #1f2937;
}